{% extends "admin/change_form.html" %}

{% block title %}
    Detalhes do Serviço - {{ title }}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">Início</a> /
        <a href="{% url 'admin:servicos_servico_changelist' %}">Serviços</a> /
        <span>{{ servico }}</span>
    </div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="service-details">
      <h2>Ordem de Serviço</h2>
      <div class="service-header">
        <div class="service-info">
          <p><strong>Cliente:</strong> {{ servico.cliente }}</p>
          <p><strong>N° Documento:</strong> {{ servico.cliente.documento }}</p>
          <p><strong>Contato:</strong> {{ servico.cliente.celular }}</p>
          <p><strong>Aberto por:</strong> {{ servico.aberto_por }}</p>
        </div>
        <div class="service-status">
          <p><strong>Procurar por:</strong> {% if servico.procurar_por %}{{ servico.procurar_por }}{% else %}-{% endif %}</p>
          <p><strong>Aberto em:</strong> {{ servico.created_at }}</p>
          <p><strong>Previsão de término:</strong> {{ servico.previsao_finalizacao }}</p>
        </div>
      </div>

      <div class="activities-section">
        <h3>Atividades</h3>
        <div class="activities-container">
          {% for atividade in servico.atividade_set.all %}
          <div class="card">
            <div class="card-title">
              <h5 class="card-title-text">
                {{ atividade.tipo_atividade }} 
              </h5>
              <div class="d-flex">
                
                {% if atividade.status == 'AB' %}
                  <span class="card-title-badge badge"><i class="fas fa-clock"></i></span>
                {% elif atividade.status == 'FI' %}
                  <span class="card-title-badge  badge"><i class="fas fa-check"></i></span>
                {% elif atividade.status == 'RE' %}
                  <span class="card-title-badge  badge"><i class="fas fa-check-double"></i></span>
                {% elif atividade.status == 'PU' %}
                  <span class="card-title-badge  badge"><i class="fas fa-envelope"></i></span>
                {% endif %}
              </div>

            </div>

            <div class="card-body">
              <div class="card-data">
                <div class="card-data-name"><strong>Responsável:</strong></div>
                <div class="card-data-value">{{atividade.responsavel}}</div>
              </div>
              <div class="card-data">
                <div class="card-data-name"><strong>Adicionada em:</strong></div>
                <div class="card-data-value">{{ atividade.created_at }}</div>
              </div>
              <div class="card-data">
                <div class="card-data-name"><strong>Previsão de término:</strong></div>
                <div class="card-data-value">{{ atividade.previsao_finalizacao }}</div>
              </div>
              <div class="card-data">
                <div class="card-data-name"><strong>Data de vencimento:</strong></div>
                <div class="card-data-value">{{ atividade.vencimento }}</div>
              </div>
              <div class="card-data">
                <div class="card-data-name"><strong>Revisado por:</strong></div>
                <div class="card-data-value">
                  {% if atividade.revisado_por and atividade.status == "RE" %}
                    {{ atividade.revisado_por.first_name }}
                  {% elif atividade.revisado_por and atividade.status == "PU" %}
                    {{ atividade.revisado_por.first_name }}
                  {% else %}
                    -
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="card-actions">
              <div class="info-buttons">
                {% if atividade.status == 'AB' or atividade.status == "FI" %}
                  <button 
                  class="btn btn-primary" 
                  onclick="window.open('{{atividade.tipo_atividade.link_form_base}}', '_blank')"
                  {% if user != atividade.responsavel and not perms.servicos.pode_visualizar_planilha %}
                    disabled
                    title="Somente o responsável pela atividade ou o responsável técnico podem visualizar diretamente os resultados das medidas."
                  {% endif %}
                  ><i class="icon-button fas fa-clipboard"></i>Abrir planilha</button>
                {% endif %}
                {% if atividade.status != 'AB' %}
                  <button class="btn btn-secondary" onclick="window.open('https://seradspr-my.sharepoint.com/:b:/g/personal/liliane_oliveira_serad_com_br/EUWVzeoyVIdOvWPSZn6vEXUBZuwvpMfolxKc1Zd1S5eoQw?e=LipYbh', '_blank')" ><i class="icon-button fas fa-download"></i>PDF</button>
                {% endif %}
              </div>
              <div class="actions-buttons">

                {% if atividade.status == 'AB' %}
                  <button 
                  class="btn btn-success" 
                  onclick="executarAtividade('{{atividade.id}}')"
                  {% if user != atividade.responsavel %}
                    disabled
                    title="Você não é o responsável por essa atividade"
                  {% endif %}>

                  <i class="icon-button fas fa-play"></i>Executar
                </button>
                {% endif %}
                {% if atividade.status == 'FI' %}
                  <button 
                  class="btn btn-info" 
                  onclick="revisarAtividade('{{atividade.id}}')"
                  {% if not perms.servicos.pode_revisar %}
                    disabled
                    title="Somente o responsável técnico pode revisar uma atividade."
                  {% endif %}>
                  <i class="icon-button fas fa-eye"></i>Revisar</button>
                {% endif %}
                {% if atividade.status == 'RE' %}
                  <button 
                  class="btn btn-primary" 
                  onclick="publicarAtividade('{{atividade.id}}')"
                    {% if not perms.servicos.pode_publicar %}
                      disabled
                      title="Seu usuário não tem permissões para publicar uma atividade."
                    {% endif %}
                  ><i class="icon-button fas fa-paper-plane"></i>Publicar</button>
                {% endif %}
                {% if atividade.status != 'AB' %}
                  <button class="btn btn-warning" 
                  onclick="abrirAtividade('{{atividade.id}}')"
                  {% if not perms.servicos.pode_abrir %}
                    disabled
                    title="Seu usuário não tem permissões para publicar uma atividade."
                  {% endif %}
                  ><i class="icon-button fas fa-undo"></i>Reabrir</button>
                {% endif %}
                {% if atividade.status == 'PU'%}
                  <button class="btn btn-info"
                          {% if not perms.servicos.pode_gerar_retorno %}
                            disabled
                            title="Somente a secretaria pode gerar um retorno"
                          {% endif %}
                  ><i class="icon-button fas fa-redo"></i>Gerar Retorno</button>
                {% endif %}
                <button 
                class="btn btn-danger"
                {% if not perms.servicos.pode_cancelar_atividade %}
                  disabled
                  title="Somente a secretaria pode cancelar uma atividade"
                {% endif %}
                ><i class="icon-button fas fa-times"></i>Cancelar</button>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <style>
    .icon-button{
      margin-right: 0.5em;
    }
    .container {
      margin: 20px;
    }
    .service-details {
      background-color: #f9f9f9;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .service-header {
      display: flex;
      justify-content: space-between;
    }
    .service-info, .service-status {
      flex: 1;
      margin-right: 20px;
    }
    .service-actions {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .activities-section {
      margin-top: 20px;
    }
    .activities-container {
      display: flex;
      flex-wrap: wrap;
    }
    .card {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 1em;
      flex: 1 1 calc(33%);
      box-sizing: border-box;
    }
    .card-body {
      display: flex;
      padding-left: 0.3em;
      padding-top: 0.3em;
      flex-wrap: wrap;
      justify-content: start;
    }
    .card-title {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
    }

    .card-title-badge{
      padding: 0.5em;
      border-radius: 5px;
      width: 3em;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .card-data {
      display: flex;
      flex-direction: column;
      margin-right: 1em;
      align-items: start;
      justify-content: start;
    }
    .card-actions {
      display: flex;
      justify-content: space-between;
    }

    .info-buttons{
      display: flex;
      gap: .5em;
    }

    .actions-buttons{
      display: flex;
      gap: .5em;
    }
  </style>
  <script>
    function executarAtividade(id) {
      fetch(`/api/atividades/${id}/finalizar/`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({})
      })
        .then(response => {
          window.location.reload();
          return response.json();
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    }
    function abrirAtividade(id){
      fetch(`/api/atividades/${id}/abrir/`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({})
      })
        .then(response => {
          window.location.reload();
          return response.json();
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    }
    function revisarAtividade(id){
      fetch(`/api/atividades/${id}/revisar/`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({})
      })
        .then(response => {
          window.location.reload();
          return response.json();
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    }
    function publicarAtividade(id){
      fetch(`/api/atividades/${id}/publicar/`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({})
      })
        .then(response => {
          window.location.reload();
          return response.json();
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    }
  </script>
{% endblock %}
